[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
FileStorePath=store/client
FileLogPath=log/client
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=N
HeartBtInt=30
SocketConnectHost=127.0.0.1

# --- Order Routing session ---
[SESSION]
SenderCompID=YOUR_OR_SENDER_ID
TargetCompID=TT_ORDER
SocketConnectPort=5001
BeginString=FIX.4.4

# --- Market Data session ---
[SESSION]
SenderCompID=YOUR_MD_SENDER_ID
TargetCompID=TT_PRICE
SocketConnectPort=5002
BeginString=FIX.4.4
